<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iShop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E52C9AAE23EF0A88009A589F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E52C9AC423EF0A89009A589F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E52C9ACF23EF0A89009A589F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
